<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<listeners>
<listener class-name="Academy.Listners"/>
</listeners>

<test thread-count="5" name="Test1">
    <classes>
      <class name="Resources.base"/>
      </classes>
    </test>
    <test name="test2">
    <classes>
      <class name="Academy.HomePage"/>
    </classes>
    </test>
</suite> <!-- Suite -->
